@{
    ViewBag.Title = "dashboard2";
    Layout = "~/Views/Shared/_adminDashboard.cshtml";
}

@if (Session["emailid"] != null)
{
<body>
    <div class="sidebar">
        <div class="logo-details">
            <div class="row-merch">

                <img src="~/ImgAdmin/curma-logo.png">

            </div>
        </div>
        <ul class="nav-links">
            <li>
                <a onclick="location.href='@Url.Action("dashboard", "Admin")'">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a onclick="location.href='@Url.Action("volunteerList", "Admin")'">
                    <i class='bx bx-box'></i>
                    <span class="links_name">Volunteers</span>
                </a>
            </li>
            <li>
                <a onclick="location.href='@Url.Action("Nesting", "Admin")'">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">Nesting</span>
                </a>
            </li>
            <li>
                <a onclick="location.href='@Url.Action("Hatchling", "Admin")'">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">Hatchling</span>
                </a>
            </li>
            <li>
                <a onclick="location.href='@Url.Action("AddEvent", "Admin")'">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Activities</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Trainings</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Awareness</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-message'></i>
                    <span class="links_name">News</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Merchandise</span>
                </a>
            </li>
            <li class="log_out">
                <a onclick="myFunction()">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="search-box">
                <input type="text" placeholder="Search here...">
                <i class='bx bx-search'></i>
            </div>
            <div class="profile-details">
                <img src="~/ImgAdmin/admin_profile.png" alt="">
                <span class="admin_name">@Html.ViewData["AdminName"]</span>
                <i class='bx bx-chevron-down'></i>
            </div>
        </nav>
        <div class="home-content">
            <div class="row-admin">
                <div class="column-admin-1">
                    <h1>Dashboard</h1>
                    <p>Hi, @Html.ViewData["AdminName"]! Welcome to CURMA Dashboard.</p>
                </div>
                <div class="column-admin-2">
                    <div class="box-title">
                        <p>.</p>
                    </div>
                </div>
                <div class="column-admin-3">
                    <div class="box-title">
                        <p>.</p>
                    </div>
                </div>
            </div>
            <div class="row-first-second">
                <div class="column-1">
                    <div class="box-1">
                        <img src="~/ImgAdmin/graph-3.png">
                    </div>
                </div>
                <div class="column-1">
                    <div class="box-1">
                        <img src="~/ImgAdmin/graph-4.png">
                    </div>
                </div>
            </div>
            <div class="row-second-second">
                <div class="column-1">
                    <div class="box-1">
                        <img src="~/ImgAdmin/graph-6.png">
                    </div>
                </div>
                <div class="column-1">
                    <div class="box-1">
                        <img src="~/ImgAdmin/graph-7.png">
                    </div>
                </div>
            </div>
            <div class="row-fourt">
                <div class="row-button">
                    <div class="column-button-1">
                    </div>
                    <div class="column-button-2">
                        <a nclick="location.href='@Url.Action("dashboard","Admin")'"><img src="~/ImgAdmin/oneB.png"></a>
                    </div>
                    <div class="column-button-3">
                        <a onclick="location.href='@Url.Action("dashboard2","Admin")'"><img src="~/ImgAdmin/twoA.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <script>
        function myFunction() {
        if (confirm("Are You Sure You Want to Logout?")) {
        var url = "@Url.Action("LoginPage", "Admin")";
        window.location.href = url;
            }
        }
        window.history.forward();
        function noBack() { window.history.forward(); }
        </script>
</body>
}


