<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SEE TURTLES</title>
    <link rel="icon" href="~/icon/favicon.ico" />
    @Styles.Render("~/Content/Program.css")
</head>
<body>
    <main>
        <header>
            <div id="banner_program">
                <div id="navbar">
                    <img id="logo" src="~/img/see_logo.png">
                    <nav>
                        <ul>
                            <li>@Html.ActionLink("PROGRAMS", "HomePage", "Account")</li>
                            <li>@Html.ActionLink("TRAININGS", "Trainings", "Home")</li>
                            <li>@Html.ActionLink("VOLUNTEERS", "Volunteers", "Home")</li>
                            <li>@Html.ActionLink("AWARENESS", "Awareness", "Home")</li>
                            <li>@Html.ActionLink("NEWS", "News", "Home")</li>
                            <li>@Html.ActionLink("ABOUT", "About", "Home")</li>

                        </ul>
                    </nav>
                    <div id="navbar-icons">
                        <img src="~/img/contact_icon.png">
                        <img src="~/img/shop_icon.png">
                        <img src="~/img/search_icon.png">
                        <img src="~/img/profile.png" onclick="location.href='@Url.Action("profile", "Account")'">
                    </div>
                    <button class="btn-banner-upper-rigth" onclick="myFunction()">LOGOUT</button>
                </div>
                <div class="content-banner-program">
                    <h1>CURMA<br>PROGRAMS</h1>
                    <p>
                        We have various programs to prevent the extinction of <br>
                        these species by protecting their habitats, reducing human impacts, <br>
                        and increasing public awareness about their conservation status. We <br>
                        also promote sustainable practices that benefit both turtles and the <br>
                        communities that depend on them.
                    </p>
                    <div class="btn-banner-group">
                        <a href="" class="btn-banner-first">SEE ALL PROGRAMS</a>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        <!--Footer-->
        <section id="contacts">
            <div class="contact-container">
                <div class="cta-content">
                    <h4 class="section-subtitle">Call To Action</h4>
                    <h2 class="section-title-contact">Join the turtle conservation <br> movement and make a difference</h2>
                    <p class="section-text">
                        Saving sea turtles is essential for the health and well-being of our planet's oceans
                        <br>and the diverse array of species that call it home
                    </p>
                </div>
                <button class="btn btn-secondary">VOLUNTEER NOW!</button>
            </div>
        </section>
        <footer>
            <section class="ft-main">
                <div class="ft-main-item">
                    <div><img src="~/img/footer_logo.png"></div>
                    <p>
                        We work to protect sea turtle populations and their<br>
                        habitats from threats such as pollution, habitat destruction, <br>
                        and climate change. We also raise public awareness about <br>
                        the importance of sea turtles and their role in maintaining<br>
                        healthy marine ecosystems.
                    </p>
                </div>
                <div class="ft-main-item">
                    <h2 class="ft-title">Office</h2>
                    <p>
                        374 St. Jude Subdivision, <br>
                        Ili Norte,, 2514 San Juan, La Union<br>
                        <br>
                        Phone Number +639423664519
                    </p>
                </div>
                <div class="ft-main-item">
                    <h2 class="ft-title">Links</h2>
                    <ul>
                        <li><a href="#" target="_blank">Home</a></li>
                        <li><a href="#" target="_blank">Reasons</a></li>
                        <li><a href="#" target="_blank">Services</a></li>
                        <li><a href="#" target="_blank">Merchandise</a></li>
                    </ul>
                </div>
                <div class="ft-main-item">
                    <h2 class="ft-title">Message US</h2>
                </div>
            </section>
            <section>
                <div class="social-wrapper">
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <img src="~/img/fb.png" alt="Facebook Logo" class="social-media-icon">
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <img src="~/img/google.png" alt="Instagram Logo" class="social-media-icon">
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <img src="~/img/google_logo.png" alt="Youtube Logo" class="social-media-icon">
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <img src="~/img/twt.png" alt="Website Logo" class="social-media-icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="ft-legal">
                <ul class="ft-legal-list">
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li>&copy; 2023 Copyright See Turtles</li>
                </ul>
            </section>
        </footer>
        <script>
        function myFunction() {
        if (confirm("Are You Sure You Want to Logout?")) {
        var url = "@Url.Action("Index", "Home")";
        window.location.href = url;
            }
        }
        window.history.forward();
        function noBack() { window.history.forward(); }
        </script>
    </main>
</body>
</html>
