
@{
    ViewBag.Title = "Home Page";
    Layout = "/Views/Shared/_Main.cshtml";
}

@if (Session["emailid"] != null)
{
    <header>
        <div id="banner">
            <div id="navbar">
                <img id="logo" src="~/img/see_logo.png">
                <nav>
                    <ul>
                        <li>@Html.ActionLink("PROGRAMS", "HomePage", "Account")</li>
                        <li>@Html.ActionLink("TRAININGS", "Training", "Account")</li>
                        <li>@Html.ActionLink("VOLUNTEERS", "Volunteers", "Home")</li>
                        <li>@Html.ActionLink("AWARENESS", "Awareness", "Home")</li>
                        <li>@Html.ActionLink("NEWS", "News", "Home")</li>
                        <li>@Html.ActionLink("ABOUT", "About", "Home")</li>

                    </ul>
                </nav>
                <div id="navbar-icons">
                    <img src="~/img/contact_icon.png">
                    <img src="~/img/shop_icon.png">
                    <img src="~/img/search_icon.png">
                    <img src="~/img/profile.png" onclick="location.href='@Url.Action("Profile", "Account")'">
                </div>
                <button class="btn-banner-upper-rigth" onclick="myFunction()">LOGOUT</button>
            </div>
            <div class="content-banner">
                <h1>
                    WELCOME,<br>
                    ECO-WARRIOR!
                </h1>
                <p>
                    Volunteers like you can help to ensure a  <br>
                    future for these magnificent creatures and for the oceans <br>
                    that they call home.<br>
                </p>
                <div class="btn-banner-group">
                    <a onclick="location.href='@Url.Action("programs", "Account")'" class="btn-banner-first">JOIN ACTIVITIES</a>
                </div>
            </div>
        </div>
    </header>

    <!--Information 1-->
    <div class="content-1">
        <h2>REASONS TO JOIN THE MOVEMENT</h2>
        <h1>AMAZING THINGS TO KNOW</h1>
        <div class="flex-container">
            <div class="flex-content">
                <img src="~/img/reason1.png">
                <h2>Healthy Biodiversity</h2>
                <p>
                    Sea turtles are a critical component
                    of marine biodiversity and play an
                    essential role in maintaining the
                    health of our oceans.
                </p>
            </div>
            <div class="flex-content">
                <img src="~/img/reason2.png">
                <h2>Ecological Balance</h2>
                <p>
                    Sea turtles help to keep marine
                    ecosystems in balance by controlling
                    the population of certain species
                    of marine plants and animals.
                </p>
            </div>
            <div class="flex-content">
                <img src="~/img/reason3.png">
                <h2>Future Generation</h2>
                <p>
                    By conserving sea turtles, we can
                    ensure that future generations will
                    have the opportunity to appreciate
                    and benefit from these magnificent
                    creatures.
                </p>
            </div>
        </div>
    </div>

    <!--Programs Content-->
    <div class="content-2">
        <h3>WHAT WE DO</h3>
        <h1>OUR PROGRAMS AND SERVICES</h1>
        <p>
            We provide a wide range of services aimed at protecting and preserving turtle populations<br>
            and their habitats. Here are some of the services that we offer:
        </p>
        <div class="flex-container-1">
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service1.png">
                    </div>

                    <h2>Research</h2>
                    <p>
                        Sea turtles are a critical component
                        of marine biodiversity and play an
                        essential role in maintaining the
                        health of our oceans.
                    </p>
                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service2.png">
                    </div>

                    <h2>Habitat Protection</h2>
                    <p>
                        work to protect critical turtle habitats,
                        including nesting beaches, feeding
                        areas, and migration routes
                    </p>
                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service3.png">
                    </div>

                    <h2>Conservation Education</h2>
                    <p>
                        We provide educational resources and
                        programs to raise awareness about the
                        importance of turtle conservation
                    </p>
                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service4.png">
                    </div>

                    <h2>Advocacy</h2>
                    <p>
                        We work with policymakers and
                        government agencies to advocate for
                        policies that protect turtle populations
                    </p>
                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service5.png">
                    </div>

                    <h2>Rescue and Rehabilition</h2>
                    <p>
                        We provide rescue and rehabilitation
                        services for injured or sick turtles,
                        helping to rehabilitate thems
                    </p>
                </div>
            </div>

            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service6.png">
                    </div>

                    <h2>Community Engagement</h2>
                    <p>
                        We work with local communities to
                        promote sustainable fishing practices,
                        reduce pollution, and raise awareness.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!--Activity Content-->
    <div class="content-3">
        <h3>WHAT TO KNOW</h3>
        <h1>OUR ACTIVITIES AND EVENTS</h1>
        <p>
            We undertake various activities such as research, advocacy, education<br>
            and community outreach to achieve our goals
        </p>
        <div class="flex-container-2">
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/beach_cleanup.png">
                    </div>
                    <div class="text-flex">
                        <h2>BEACH CLEANUPS</h2>
                        <p>
                            We organize beach cleanups to remove
                            trash and debris from beaches, which can
                            harm sea turtles and other marine life.
                        </p>

                        <div class="content-details">
                            <div class="content">
                                <img src="~/img/location_mark.png">
                                <p>Ili Norte, SJ | </p>
                                <img src="~/img/pax_icon.png">
                                <p>70 pax |</p>
                                <img src="~/img/date.png">
                                <p>Saturday</p>
                            </div>
                        </div>
                    </div>

                    <div class="left-side">
                        <div class="join-flex">
                            <button class="btn-banner">JOIN NOW</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/workshop.png">
                    </div>
                    <div class="text-flex">
                        <h2>EDUCATIONAL WORKSHOPS</h2>
                        <p>
                            We hold workshops and talks to educate the
                            public about the importance of sea turtle
                            conservation and how individuals can help.
                        </p>

                        <div class="content-details">
                            <div class="content">
                                <img src="~/img/location_mark.png">
                                <p>Ili Norte, SJ | </p>
                                <img src="~/img/pax_icon.png">
                                <p>70 pax |</p>
                                <img src="~/img/date.png">
                                <p>Sunday</p>
                            </div>
                        </div>
                    </div>

                    <div class="left-side">
                        <div class="join-flex">
                            <button class="btn-banner">JOIN NOW</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/turtlesand5.png">
                    </div>
                    <div class="text-flex">
                        <h2>NESTING SURVEY</h2>
                        <p>
                            We hold workshops and talks to educate the
                            public about the importance of sea turtle
                            conservation and how individuals can help.
                        </p>

                        <div class="content-details">
                            <div class="content">
                                <img src="~/img/location_mark.png">
                                <p>Ili Norte, SJ | </p>
                                <img src="~/img/pax_icon.png">
                                <p>70 pax |</p>
                                <img src="~/img/date.png">
                                <p>Sunday</p>
                            </div>
                        </div>
                    </div>

                    <div class="left-side">
                        <div class="join-flex">
                            <button class="btn-banner">JOIN NOW</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/hat.png">
                    </div>
                    <div class="text-flex">
                        <h2>RELEASE EVENTS</h2>
                        <p>
                            When sea turtles are rehabilitated after an
                            injury or illness, we hold release events where
                            the public can watch the turtles be released
                            back into the ocean.
                        </p>

                        <div class="content-details">
                            <div class="content">
                                <img src="~/img/location_mark.png">
                                <p>Ili Norte, SJ | </p>
                                <img src="~/img/pax_icon.png">
                                <p>70 pax |</p>
                                <img src="~/img/date.png">
                                <p>Sunday</p>
                            </div>
                        </div>
                    </div>

                    <div class="left-side">
                        <div class="join-flex">
                            <button class="btn-banner">JOIN NOW</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="view-more-btn">
                <button class="btn-banner">VIEW MORE</button>
            </div>
        </div>
    </div>

    <!-- Market Place-->
    <div class="content-4">
        <h3>WHAT TO BUY </h3>
        <h1>CURMA MERCHANDISE </h1>
        <p>We offer merchandise for sale to raise funds to support our conservation </p>
        <div class="flex-container-3">
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/merch1.png">
                    </div>
                    <div class="text-flex">
                        <div class="content-details">
                            <div class="content-inside">
                                <h2>Turtle-Themed Tshirt</h2>
                                <div class="rate-star">
                                    <img src="~/img/rating.png">
                                    <p class="rating">(5.0 Rates)</p>
                                </div>
                                <p class="original-price">
                                    ₱510.00 - ₱600.00
                                </p>
                                <div class="add-cart">
                                    <p class="discounted-price">
                                        ₱ 270.00 - 425.00
                                    </p>
                                    <img src="~/img/cart.png">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/merch2.png">
                    </div>
                    <div class="text-flex">
                        <div class="content-details">
                            <div class="content-inside">
                                <h2>Turtle-Themed Mug</h2>
                                <div class="rate-star">
                                    <img src="~/img/rating.png">
                                    <p class="rating">(5.0 Rates)</p>
                                </div>
                                <p class="original-price">
                                    ₱230.00 - ₱300.00
                                </p>
                                <div class="add-cart">
                                    <p class="discounted-price">
                                        ₱ 99.00 - 150.00
                                    </p>
                                    <img src="~/img/cart.png">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/merch3.png">
                    </div>
                    <div class="text-flex">
                        <div class="content-details">
                            <div class="content-inside">
                                <h2>Turtle-Themed Key Chain</h2>
                                <div class="rate-star">
                                    <img src="~/img/rating.png">
                                    <p class="rating">(5.0 Rates)</p>
                                </div>
                                <p class="original-price">
                                    ₱60.00
                                </p>
                                <div class="add-cart">
                                    <p class="discounted-price">
                                        ₱ 20.00 - ₱ 30.00
                                    </p>
                                    <img src="~/img/cart.png">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="view-more-btn">
                <button class="btn-banner">VIEW MORE</button>
            </div>
        </div>
    </div>

    <!--Call to Action-->
    <div class="content-5">
        <div class="description">
            <h3>CALL TO ACTION</h3>
            <h1>
                Join the turtle conservation<br>
                movement and make a difference
            </h1>
            <p>
                Saving sea turtles is essential for the health and well-being of our planet's oceans
                <br> and the diverse array of species that call it home
            </p>
        </div>
        <div class="volunteer-now-btn">
            <button onclick="location.href='@Url.Action("Join", "Account")'" class="btn-banner">VOLUNTEER NOW</button>
        </div>
    </div>
}

